.progress-panel {
	text-align:center;
    min-height: 8rem;
    padding-top: 2.6rem;
    padding-bottom: 2rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.custom-progress{
	height: 100%;
	padding-bottom: 5px;
	width:90%;
	margin:0 auto;
	table-layout: fixed;
}

.label-td{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	width:102px;
}

.chart-td{width:100%}

.value-td{
	width:45px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	text-align:right;
}

.custom-progress tr>td{
	padding:5px 2px;
}

.progress{
	margin: 0px;
	background-color: #24283d;
	border-radius: 0px;
	-webkit-box-shadow: none;
    box-shadow: none;
}
.progress-big{
	height: 18px;
}
.progress-big .progress-bar{
	height:100%;
	background: -moz-linear-gradient(left, #68d7fe, #557cc6);
	background: -o-linear-gradient(left,#68d7fe, #557cc6);
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#68d7fe), to(#557cc6));
	background: -ms-linear-gradient(left, #68d7fe 0%,#557cc6 100%); 
	background: linear-gradient(to right, #68d7fe 0%,#557cc6 100%); 
}

.dotted{
	background:url('../img/progress-bg.svg') repeat-x left center;
	/*background-color: transparent !important;*/
    height: 100%;
}

.bar-td{
	padding-top: 12px;
	position:relative;
}

.bar-div{
	float:left;
	height:30px;
	text-align: right;
    /*padding-right: 5px;*/
	color:#fff;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bar-shade{
	position:absolute;
	background-color:#000;
	opacity:0.2;
	filter:alpha(opacity=20);
	width:calc(100% - 4px);
    height: 16%;
    bottom: 13.2%;
    /*bottom: 48%;*/
}

.bar-div-staff{
	text-align:center;
	float:left;
}
.bar-div-staff h5{
    color: inherit;
    font-size: .875rem;
    font-weight: 400;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}	

.text-left{
	text-align:left;
}

.text-right{
	text-align:right;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #5eb1e4;
	margin: 0 auto;
}

.del-img{
	background:url('../img/minus.png') no-repeat center center;
}

.separate-hr{
	height:1px;border:none;border-top:1px dashed #ccc;margin-top:8px;margin-bottom:8px;
}

/* ---------------------------------------------doughnutChart Style--------------------------------------------- */
.doughnuts-contanier {
	width: 90%;
	padding: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	box-sizing: border-box;
}
.doughnut-contanier {
	/* background-color: skyblue; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
}
.doughnut-label {
	position: absolute;
	width: 100%;
	line-height: 100px;
	top: 0;
	left: 0;
}
.doughnut-contanier canvas {
	max-width: 100%;
	max-height: 100%;
}